:host {

   
    height: 80vh;

    .container-PC {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        height: 85vh;
        padding: 25px;
    }




    .title {
        margin-bottom: 20px;
        justify-content: center;
        display: flex;
        position: relative;

        a {
            position: absolute;
            left: 0;
        }

        h2 {
            color: #3d4fb0;
            text-align: center;
            font-size: 24px;
        }
    }

    .form-password-change {
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        form {
            padding: 20px;

            mat-form-field {
                width: 100%;
            }
        }
    }

    .container-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;


    }
}