<div class="container-PC">
  <div class="form-password-change">
    <form [formGroup]="passwordChangeForm" (submit)="onSubmit()">
      <div class="title">
        <h2>{{ 'PASSWORD_CHANGE.TITLE' | translate }}</h2>
      </div>

      <mat-form-field>
        <mat-label>{{ 'PASSWORD_CHANGE.CURRENT_PASSWORD_LABEL' | translate }}</mat-label>
        <input [type]="hideCurrentPassword ? 'password' : 'text'" matInput
          placeholder="{{ 'PASSWORD_CHANGE.CURRENT_PASSWORD_PLACEHOLDER' | translate }}"
          formControlName="currentPassword" required />
        <button mat-icon-button matSuffix (click)="toggleCurrentPasswordVisibility()" type="button"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
          <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordChangeForm.get('currentPassword')?.hasError('required')">
          {{ 'PASSWORD_CHANGE.CURRENT_PASSWORD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'PASSWORD_CHANGE.NEW_PASSWORD_LABEL' | translate }}</mat-label>
        <input [type]="hideNewPassword ? 'password' : 'text'" matInput formControlName="newPassword"
          placeholder="{{ 'PASSWORD_CHANGE.NEW_PASSWORD_PLACEHOLDER' | translate }}" required />
        <button mat-icon-button matSuffix type="button" (click)="toggleNewPasswordVisibility()">
          <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('required')">
          {{ 'PASSWORD_CHANGE.NEW_PASSWORD_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'PASSWORD_CHANGE.CONFIRM_PASSWORD_LABEL' | translate }}</mat-label>
        <input [type]="confirmNewPassword ? 'password' : 'text'" matInput formControlName="newConfirmPassword"
          placeholder="{{ 'PASSWORD_CHANGE.CONFIRM_PASSWORD_PLACEHOLDER' | translate }}" required />
        <button mat-icon-button type="button" matSuffix (click)="toggleConfirmNewPasswordVisibility()">
          <mat-icon>{{ confirmNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordChangeForm.get('newConfirmPassword')?.hasError('required')">
          {{ 'PASSWORD_CHANGE.CONFIRM_PASSWORD_REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="passwordChangeForm.errors?.['PasswordNoMatch']">
          {{ 'PASSWORD_CHANGE.PASSWORDS_DO_NOT_MATCH' | translate }}
        </mat-error>
      </mat-form-field>

      <div class="container-buttons">
        <button mat-raised-button color="accent" [routerLink]="['/admin/home']" routerLinkActive="router-link-active"
          type="button">
          {{ 'PASSWORD_CHANGE.BUTTONS.CANCEL' | translate }}
        </button>
        <button mat-raised-button color="primary" [disabled]="passwordChangeForm.invalid" type="submit">
          {{ 'PASSWORD_CHANGE.BUTTONS.ACCEPT' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>