<div class="container-PC">
    <app-circles> </app-circles>
    <div class="form-password-change">
        <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
            <div class="title">
                <h2>Change Password</h2>
            </div>

            <!-- input Contraseña vieja -->

            <mat-form-field>
                <mat-label>Current Password</mat-label>
                <input [type]="hideCurrentPassword ? 'password' : 'text'" matInput placeholder="Current Password"
                    formControlName="currentPassword" required>
                <button mat-icon-button matSuffix (click)="toggleCurrentPasswordVisibility()"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
                    <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordChangeForm.get('currentPassword')?.hasError('required')">
                    Current password is required
                </mat-error>
            </mat-form-field>

            <!-- input Contraseña nueva -->

            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input [type]="hideNewPassword ? 'password' : 'text'" matInput formControlName="newPassword"
                    placeholder="New Password" required>
                <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
                    <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('required')">
                    New password is required
                </mat-error>
            </mat-form-field>

            <!-- input Confirmar Contraseña -->

            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input [type]="confirmNewPassword ? 'password' : 'text'" matInput formControlName="newConfirmPassword"
                    placeholder="Confirm Password" required>
                <button mat-icon-button matSuffix (click)="toggleConfirmNewPasswordVisibility()">
                    <mat-icon>{{confirmNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordChangeForm.get('newConfirmPassword')?.hasError('required')">
                    Confirm password is required
                </mat-error>
                <mat-error *ngIf="passwordChangeForm.errors?.['PasswordNoMatch']">
                    Passwords do not match
                </mat-error>
            </mat-form-field>

            <!-- ---- -->
            <div class="container-buttons">
                <button mat-raised-button color="accent" [routerLink]="['/login']"
                    routerLinkActive="router-link-active">Cancel</button>
                <button mat-raised-button color="primary" [disabled]="passwordChangeForm.invalid">Accept</button>
            </div>
        </form>
    </div>
</div>