.container-FU {
    width: 100%;
    height: max-content;
    padding: 10px;
    

    .example-container {

        form {
            
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            padding: 10px;

            .title {
                margin-left: 10px;
                display: flex;
                position: relative;
            }

            mat-form-field {
                width: 45%;
                margin: 10px;
            }
        }
    }

}