<div class="container-FU">
    <div class="example-container">
        <form>
            <div class="title">
                <h1>Form User</h1>
            </div>
            <!-- input-Email -->
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
            </mat-form-field>
            <!-- input-User -->
            <mat-form-field>
                <mat-label>User</mat-label>
                <input matInput placeholder="User">
            </mat-form-field>
            <!-- input-Profile -->
            <mat-form-field>
                <mat-label>Profile</mat-label>
                <mat-select>
                    <mat-option>Admin</mat-option>
                    <mat-option>User</mat-option>
                    <mat-option>Basic</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</div>