<mat-form-field class="password" hideRequiredMarker>
  <mat-label>Password</mat-label>
  <input
    [type]="hide ? 'password' : 'text'"
    matInput
    [formControl]="passwordFormControl"
    [errorStateMatcher]="matcher"
    placeholder="Enter your password"
  />
  <button
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <!-- password required -->
  <mat-error *ngIf="passwordFormControl.hasError('required')">
    Password is <strong>required</strong>
  </mat-error>
</mat-form-field>
