<div class="login-container">
  <!-- Circles Component -->
  <app-circles></app-circles>

  <div class="logo">
    <img src="../../../../assets/vault-tec.png" alt="Vault-Tec logo" />
    <h1>VAULT-TEC</h1>
  </div>

  <h2>Log in to access your account</h2>

  <!-- Login Form -->
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Email Input -->
    <mat-form-field class="email" hideRequiredMarker>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Enter your email"
      />
      <!-- @ on email required -->
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Please enter a valid email address
      </mat-error>
      <!-- email required -->
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Password Input -->
    <mat-form-field class="password" hideRequiredMarker>
      <mat-label>Password</mat-label>
      <input
        [type]="hide ? 'password' : 'text'"
        matInput
        formControlName="password"
        [errorStateMatcher]="matcher"
        placeholder="Enter your password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <!-- password required -->
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Options -->
    <div class="options">
      <label>
        <mat-checkbox>Remember Me</mat-checkbox>
      </label>
      <a href="/security/password-recovery">Forgot your password?</a>
    </div>

    <!-- Submit Button -->
    <button mat-raised-button color="accent" type="submit">Log In</button>
  </form>
</div>
