<div class="login-container">
  <!-- Circles Component -->
  <app-circles></app-circles>
  <div class="logo">
    <img src="../../../../assets/vault-tec.png" alt="Vault-Tec logo" />
    <h1>VAULT-TEC</h1>
  </div>
  <h2>Log in to access your account</h2>
  <!-- Login Form -->
  <form class="login-form">
    <!-- Email Input -->
    <app-email-input></app-email-input>
    <!-- Password Input -->
    <app-password-input></app-password-input>
    <!-- Options -->
    <div class="options">
      <label>
        <mat-checkbox>Remember Me</mat-checkbox>
      </label>
      <a href="/security/password-recovery">Forgot your password?</a>
    </div>
    <!-- Submit Button -->
    <button mat-raised-button color="accent">Log In</button>
  </form>
</div>
