<div class="container-PR">
    <app-circles></app-circles>
    <div class="stepper-password-recovery">
        <mat-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Your Email</ng-template>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="firstCtrl" placeholder="Enter your email"
                            required>
                        <mat-error *ngIf="firstFormGroup.get('firstCtrl')?.hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="firstFormGroup.get('firstCtrl')?.hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                        <a [routerLink]="['/password-change']" routerLinkActive="router-link-active">Change Password</a>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Change Password</ng-template>
                    <!-- input Correo-->
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="secondCtrl" placeholder="Enter your email"
                            required>
                        <mat-error *ngIf="firstFormGroup.get('secondCtrl')?.hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="firstFormGroup.get('secondCtrl')?.hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                    <!-- input Codigo de verificacion -->
                    <mat-form-field>
                        <mat-label>Code</mat-label>
                        <input type="number" matInput formControlName="secondCtrl" placeholder="Verify Code" required>
                    </mat-form-field>
                    <!-- input Contraseña vieja -->
                    <mat-form-field>
                        <mat-label>Current Password</mat-label>
                        <input [type]="hideCurrentPassword ? 'password' : 'text'" matInput formControlName="secondCtrl"
                            placeholder="Current Password" required>
                        <button mat-icon-button matSuffix (click)="toggleCurrentPasswordVisibility()"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
                            <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- input Contraseña nueva -->
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input [type]="hideNewPassword ? 'password' : 'text'" matInput formControlName="secondCtrl"
                            placeholder="New Password" required>
                        <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                            <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                        <a [routerLink]="['/password-change']" routerLinkActive="router-link-active">Change Password</a>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </div>
</div>