.container-PR {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    

    .stepper-password-recovery {
        width: 50%;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        form{
            padding: 20px;

            mat-form-field {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container-PR {
        .stepper-password-recovery {
            width: 90%;
        }
    }
    
}