.container-LU {
    position: relative;
    margin: 10px;

    .search {
        text-align: center;
    }

    mat-list {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        max-height: 90vh;

        mat-list-item {
            margin-top: 10px;
            padding-top: 30px;
            padding-bottom: 30px;

            &:hover {
                background-color: #f0f0f0;
            }
        }

        mat-paginator {
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;
            flex-wrap: wrap;
        }
    }
}

mat-form-field {
    width: 80%;
}